@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "_LayoutError.cshtml";
    ViewBag.Title = "Error";
}
<br />
<br />
<h2 class="text-danger">Oh snap!...something went wrong with your TimeKeeper. </h2>
<h3 class="text-danger">Please contact Helpdesk. <br /> We apologize for your inconvenience.</h3>
@*<ul>
    <li>Login user: @User.Identity.Name</li>
    <li>Authentication Type: @User.Identity.AuthenticationType </li>
    <li>Is User Authenticated: @User.Identity.IsAuthenticated</li>
    <li>ActionName: @Model.ActionName</li>
    <li>ControllerName: @Model.ControllerName</li>
    <li><b>Exception: @Model.Exception.Message</b></li>
    <li>Source: @Model.Exception.Source</li>
    @if (ViewBag.CurrentEnvironment == null || (ViewBag.CurrentEnvironment != "prod" && ViewBag.CurrentEnvironment != "production"))
    {
        <li>StackTrace: @Model.Exception.StackTrace</li>
        <li>TargetSite: @Model.Exception.TargetSite</li>
    }

</ul>*@

